{% extends 'layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
  <link rel="stylesheet" href="{{ asset('assets/css/items.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        {% for product in products if product.idCategorie == id %}
            <div class="row">
                <div class="productbox">
                    <div class="product-img col-lg-2">
                        <img src="{{asset('assets/img/'~product.getProductBrand)}}"/>
                    </div>
                    <div class="product-name col-lg-10">
                        <div class="name">
                            <a href="#">
                                <a href="{{ path('product', {'id': product.id}) }}">{{ product.name }}</a>
                            </a>
                        </div>
                        <div class="product-price">
                            <span class="reduction">{{ product.productPrice }} EUR </span><span class="fullprice">39.99 EUR</span><br>
                            <div class="infos">
                                <span class="livraison">Livraison gratuite possible (voir fiche produit).</span>
                                <span class="stock">Stock : {{ product.productStock }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spacer"></div>
        {% endfor %}
{% endblock %}
