{% extends 'base.html.twig' %}

{% block stylesheets %}
  <style>
    .productbox {
      margin: 10px;
      padding: 20px 7px;
      text-align: center;
      border: 2px black solid;
      border-radius: 9px;
    }
    button {
      border-radius: 9px;
      margin: 15px 7px 7px;
      padding: 5px;
    }
  </style>
{% endblock %}

{% block body %}
  <div id="quizbox">
<<<<<<< master
  {% for categorie in categories %}
  <div class="productbox">
<<<<<<< master
  <a href="http://localhost:8888/Projets-en-cours/High-Tech/web/app_dev.php/catalog/{{ categorie.id }}">{{ categorie.name }}</a><br>
=======
  <a href="{{ path('category', {'id': categorie.id}) }}">{{ categorie.name }}</a><br>
>>>>>>> Auto stash before merge of "master" and "origin/fos-user-front"
  </div>
  {% endfor %}<br>
{% endblock %}
=======
    {% for categorie in categories %}
      <div class="productbox">
        <a href="{{ path('category', {'id': categorie.id}) }}">{{ categorie.name }}</a><br>
      </div>
    {% endfor %}<br>

  {% endblock %}
>>>>>>> Auto stash before merge of "product-views" and "origin/product-views"
