{% extends 'layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
	<link rel="stylesheet" href="{{ asset('assets/css/produit.css') }}">
{% endblock %}

{% block body %}
<div class="perso">
    <div id="mySidenav" class="sidenav">
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
        <div class="dropdown-divider"></div>
        <div class="dropdown-divider"></div>
        {% for categorie in categories %}
            <a href="{{ path('category', {'id': categorie.id}) }}">{{ categorie.name }}</a>
        {% endfor %}
        <div class="dropdown-divider"></div>
        <div class="dropdown-divider"></div>
    </div>
    <div class="container">
        {% for product in products if product.id == id %}
            <div class="title">
                <h1>{{ product.name }}</h1>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <div class="container-img">
                        <img class="product-img" src="{{asset('assets/img/'~product.getProductBrand)}}"/>
                    </div>
                    <div class="social-share">
                        <span class="social-phrase">Vous aimez ce produit ? Partagez le !</span>
                        <div class="social-icons">
                            <a class="twitter" href="#"><i class="fab fa-twitter-square"></i></a>
                            <a class="facebook" href="#"><i class="fab fa-facebook-square"></i></a>
                            <a class="google" href="#"><i class="fab fa-google-plus-square"></i></a>
                            <a class="reddit" href="#"><i class="fab fa-reddit-square"></i></a>
                            <a class="pinterest" href="#"><i class="fab fa-pinterest-square"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 fast-desc">
                    <span class="carac">— Caractéristiques —</span>
                    <span class="caracspec">{{ product.productDescription }}</span>
                    
                    <span class="carac">— Les avis clients —</span>
                </div>
                <div class="col-lg-3 shipping">
                    <span class="dispo">— Disponibilités —</span>
                    <span class="dispoprix">Prix : {{ product.productPrice }}€</span>
                    <span class="dispoinfo">Stock : {{ product.productStock }}</span>
                    <span class="dispoinfo">Promo : {{ product.productDiscount }}</span>
                    <span class="dispo">— Financez votre achat —</span>
                </div>
            </div>



        

        

        {% for casing in casings %}
            {% if product.id == casing.casingId %}
                <div class="specific-info col-lg-12">
                    <span class="info-dark"><span class"fat-title">Format du boitier :</span> {{ casing.casingFormat }}</span>
                    <span class="info-light"><span class"fat-title">Couleur extérieure :</span> {{ casing.casingColor }}</span>
                    <span class="info-dark"><span class"fat-title">Matériaux :</span> {{ casing.casingMaterial }}</span>
                    <span class="info-light"><span class"fat-title">Poid : </span>{{ product.productWeight }}</span>
                    <span class="info-dark"><span class"fat-title">Dimensions : </span>{{ product.productDimensions }}</span>
                </div>
            {% endif %}
        {% endfor %}

        {% for cpu in cpus if product.id == cpu.cpuId %}
            <div class="specific-info col-lg-12">
                <span class="info-dark">Nombre de coeurs : {{ cpu.cpuCoreNumber }}</span>
                <span class="info-light">Fréquence : {{ cpu.cpuFrequency }}</span>
                <span class="info-dark">Cache total : {{ cpu.cpuCache }}</span>
                <span class="info-light">Micro-architecture : {{ cpu.cpuArchitecture }}</span>
                <span class="info-dark">Socket : {{ cpu.cpuSocket }}</span>
                <span class="info-light">Valeur de dissipation : {{ cpu.cpuThermalDissipation }}</span>
                <span class="info-dark"><span class"fat-title">Poid : </span>{{ product.productWeight }}</span>
                <span class="info-light"><span class"fat-title">Dimensions : </span>{{ product.productDimensions }}</span>
            </div>
        {% endfor %}

        {% for gpu in gpus %}
            {% if product.id == gpu.gpuId %}
                <div class="specific-info col-lg-12">
                    <span class="info-dark">Puce graphique : {{ gpu.gpuModel }}</span>
                    <span class="info-light">Fréquence : {{ gpu.gpuFrequency }}</span>
                    <span class="info-dark">Interface : {{ gpu.gpuInterface }}</span>
                    <span class="info-light">Quantité mémoire : {{ gpu.gpuMemory }}</span>
                    <span class="info-dark">Fréquence mémoire : {{ gpu.gpuMemoryFrequency }}</span>
                    <span class="info-light">Détails : {{ gpu.gpuDetails }}</span>
                    <span class="info-dark"><span class"fat-title">Poid : </span>{{ product.productWeight }}</span>
                    <span class="info-light"><span class"fat-title">Dimensions : </span>{{ product.productDimensions }}</span>
                </div>
            {% endif %}
        {% endfor %}

        {% for motherboard in motherboards %}
            {% if product.id == motherboard.motherboardId %}
                <div class="specific-info col-lg-12">
                    <span class="info-dark">Socket : {{ motherboard.motherboardSocket }}</span>
                    <span class="info-light">Contrôleur principal : {{ motherboard.motherboardChipset }}</span>
                    <span class="info-dark">Port(s) PCI-Express 16x : {{ motherboard.motherboardPorts }}</span>
                    <span class="info-light">Fréquence mémoire maximale : {{ motherboard.motherboardMaxFreq }}</span>
                    <span class="info-dark">Vitesse du contrôleur Serial-ATA : {{ motherboard.motherboardSataController }}</span>
                    <span class="info-light"><span class"fat-title">Poid : </span>{{ product.productWeight }}</span>
                    <span class="info-dark"><span class"fat-title">Dimensions : </span>{{ product.productDimensions }}</span>
                </div>
            {% endif %}
        {% endfor %}

        {% for power in powers %}
            {% if product.id == power.powerSupplyId %}
                <div class="specific-info col-lg-12">
                    <span class="info-dark">Puissance : {{ power.powerSupplyPower }}</span>
                    <span class="info-light">Modulaire : {{ power.powerSupplyModularity }}</span>
                    <span class="info-dark">Certification 80+ : {{ power.powerSupplyCertification }}</span>
                    <span class="info-light"><span class"fat-title">Poid : </span>{{ product.productWeight }}</span>
                    <span class="info-dark"><span class"fat-title">Dimensions : </span>{{ product.productDimensions }}</span>
                </div>
            {% endif %}
        {% endfor %}

        {% for ram in rams %}
            {% if product.id == ram.ramId %}
                <div class="specific-info col-lg-12">
                    <span class="info-dark">Type : {{ ram.ramType }}</span>
                    <span class="info-light">Capacité totale : {{ ram.ramCapacity }}</span>
                    <span class="info-dark">Fréquence : {{ ram.ramFrequency }}</span>
                    <span class="info-light">Timings : {{ ram.ramTimings }}</span>
                    <span class="info-dark">Tension (certification) : {{ ram.ramTension }}</span>
                    <span class="info-light"><span class"fat-title">Poid : </span>{{ product.productWeight }}</span>
                    <span class="info-dark"><span class"fat-title">Dimensions : </span>{{ product.productDimensions }}</span>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </div>
</div>
{% endblock %}