{{ form_start(form, {
	'attr': {
		'class'  : 'form-inline my-2 my-lg-0 form-test',
		'action' : path('search'),
        'method' : 'GET'
	}
}) }}

    <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
            <div class="input-group-text">
            	{{ form_widget(form.categories) }}
                {# <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle cat-color" style="color:#555;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="%">
                            Catégorie
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for category in categories %}
                                <a class="dropdown-item" href="{{ path('category', {'id': category.id}) }}" value="{{ category.id }}">{{ category.name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                </ul> #}
            </div>
        </div>


    	{{ form_widget(form.search, {
    		'attr': {
    			'class'      : 'form-control mr-sm-2 resize-input',
    			'style'      : 'border-radius: 0px 5px 5px 0px;',
    			'placeholder': 'Rechercher',
    			'aria-label' : 'Search'
    		}
    	}) }}

    	<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
    		<i class="fas fa-search"></i>
    	</button>
    </div>

{{ form_end(form) }}