{% extends 'layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('assets/css/categories.css') }}">
{% endblock %}

{% block body %}
  <div style="text-align: center">
    <p>Nom d'utilisateur:
      {{ user.username }}</p>
    <p>Email:
      {{ user.email }}</p>
    {% for client in clients if client.clientId == user.id %}
      <p>Nom:
        {{ client.clientFirstname }}</p>
      <p>Prénom:
        {{ client.clientName }}</p>
      <p>Numéro de télephone:
        {{ client.clientPhone }}</p>
      <h4>
        <b>Livraison</b>
      </h4>
      <p>Adresse:
        {{ client.clientAdress }}</p>
      <p>Code Postal:
        {{ client.clientZipCode }}</p>
      <p>Ville:
        {{ client.clientCity }}</p>
      <p>Pays:
        {{ client.clientCountry }}</p>
    {% endfor %}
    {% for billing in billings if billing.userId == user.id %}
      <h4>
        <b>Facturation</b>
      </h4>
      <p>Adresse :
        {{ billing.billingAdress }}</p>
      <p>Code Postal:
        {{ billing.billingZipCode }}</p>
      <p>Ville:
        {{ billing.billingCity }}</p>
      <p>Pays:
        {{ billing.billingCountry }}</p>
    {% endfor %}
  </div>
{% endblock %}