{% extends 'layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('assets/css/user.css') }}">
{% endblock %}

{% block body %}
  <div class="profilebox">
    <h3>
      <b>Profile</b>
    </h3>
    <p>Nom d'utilisateur:
      {{ user.username }}</p>
    <p>Email:
      {{ user.email }}</p>
    {% for client in clients if client.clientId == user.id %}
      <p>Nom:
        {{ client.clientFirstname }}</p>
      <p>Prénom:
        {{ client.clientName }}</p>
      <p>Numéro de télephone:
        {{ client.clientPhone }}</p>
      <button class="btn btn-primary">Modifier</button>
      <h4>
        <b>Livraison</b>
      </h4>
      <p>
        {{ client.clientAdress }}
        {{ client.clientZipCode }}
        {{ client.clientCity }}
        {{ client.clientCountry }}</p>
    {% endfor %}
    <button class="btn btn-primary">Ajouter</button>
    <button class="btn btn-primary">Modifier</button>
    <h4>
      <b>Facturation</b>
    </h4>
    {% for billing in billings if billing.userId == user.id %}
      <p>
        {{ billing.billingAdress }}
        {{ billing.billingZipCode }}
        {{ billing.billingCity }}
        {{ billing.billingCountry }}</p>
    {% endfor %}
    <button class="btn btn-primary">Ajouter</button>
    <button class="btn btn-primary">Modifier</button>
  </div>
{% endblock %}