{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('assets/css/user.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="profile-box">
            <h3>
                <b>Profile</b>
            </h3>

            <p>Nom d'utilisateur : {{ user.username }}</p>
            <p>Email : {{ user.email }}</p>
            
            {% for client in clients if client.id == user.id %}
                <p>Nom : {{ client.firstName }}</p>
                <p>Prénom: {{ client.alias }}</p>
                <p>Numéro de télephone : {{ client.phone }}</p>
            {% endfor %}

            <button class="btn btn-primary">Modifier</button>
            <button class="btn btn-primary">Supprimer</button>
      </div>

      <div class="row">
          <div class="col-lg-5 cuck-box">
              <h4>
                  <b>Livraison</b>
              </h4>

              {% for delivery in deliveries if delivery.user == user.id %}
                  <p>
                      {{ delivery.address }}
                      {{ delivery.zipCode }}
                      {{ delivery.city }}
                      {{ delivery.country }}
                  </p>
              {% endfor %}

              <button class="btn btn-primary">Ajouter</button>
              <button class="btn btn-primary">Modifier</button>
          </div>

          <div class="col-lg-5 cuck-box">
              <h4>
                  <b>Facturation</b>
              </h4>

              {% for billing in billings if billing.user == user.id %}
                  <p>
                      {{ billing.address }}
                      {{ billing.zipCode }}
                      {{ billing.city }}
                      {{ billing.country }}
                  </p>
              {% endfor %}

              <button class="btn btn-primary">Ajouter</button>
              <button class="btn btn-primary">Modifier</button>
          </div>
      </div>
    </div>
{% endblock %}