{% extends 'layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('assets/css/user.css') }}">
{% endblock %}

{% block body %}
  <div class="container">
    <div class="profilebox">
      <h3>
        <b>Profil</b>
      </h3>
      <p>Nom d'utilisateur:
        {{ user.username }}</p>
      <p>Email:
        {{ user.email }}</p>
      {% for client in clients if client.clientId == user.id %}
        <p>Nom:
          {{ client.clientFirstname }}</p>
        <p>Prénom:
          {{ client.clientName }}</p>
        <p>Numéro de télephone:
          {{ client.clientPhone }}</p>

        <a href="{{ path('clients_edit', { 'clientId': client.clientId }) }}">
          <button class="btn btn-primary">
            <i class="fas fa-edit"></i>
          </button>
        </a>
      {% endfor %}
    </div>

    <div class="row">
      <div class="col-lg-5 cuckbox">
        <h4>
          <b>Livraison</b>
        </h4>
        {% for delivery in deliveries if delivery.userId == user.id %}
          <p>
            {{ delivery.deliveryAdress }}
            {{ delivery.deliveryZipCode }}
            {{ delivery.deliveryCity }}
            {{ delivery.deliveryCountry }}
            <a href="{{ path('delivery_edit', { 'deliveryId': delivery.deliveryId }) }}">
              <button class="btn btn-primary">
                <i class="fas fa-edit"></i>
              </button>
            </a>
          </p>
        {% endfor %}
        <a href="{{ path('delivery_new') }}">
          <button class="btn btn-primary">
            <i class="fas fa-plus-circle"></i>
          </button>

        </a>
      </div>
      <div class="col-lg-5 cuckbox">
        <h4>
          <b>Facturation</b>
        </h4>
        {% for billing in billings if billing.userId == user.id %}
          <p>
            {{ billing.billingAdress }}
            {{ billing.billingZipCode }}
            {{ billing.billingCity }}
            {{ billing.billingCountry }}
            <a href="{{ path('billing_edit', { 'billingId': billing.billingId }) }}">
              <button class="btn btn-primary">
                <i class="fas fa-edit"></i>
              </button>
            </a>
          </p>
        {% endfor %}
        <a href="{{ path('billing_new') }}">
          <button class="btn btn-primary">
            <i class="fas fa-plus-circle"></i>
          </button>
        </a>
      </div>
      <div class="profilebox">

        <h3>Loi RGPD, suppression de vos données et de votre compte :
        </h3>
        {% for client in clients if client.clientId == user.id %}
          <a href="{{ path('clients_delete', { 'clientId': client.clientId }) }}">
            <button class="btn btn-primary">
              Désactivation du compte
            </button>
          </a>
        {% endfor %}
        <p>ATTENTION: Toutes vos informations personelles seront supprimées de notre base de donnée conformément à la loi RGPD.</p>

      </div>
    </div>
  </div>
</div>
{% endblock %}