{% extends 'base.html.twig' %}

{% block body %}
    <h1>Clients list</h1>

    <table>
        <thead>
            <tr>
                <th>Clientid</th>
                <th>Clientname</th>
                <th>Clientfirstname</th>
                <th>Clientphone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td><a href="{{ path('clients_show', { 'clientId': client.clientId }) }}">{{ client.clientId }}</a></td>
                <td>{{ client.clientName }}</td>
                <td>{{ client.clientFirstname }}</td>
                <td>{{ client.clientPhone }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('clients_show', { 'clientId': client.clientId }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('clients_edit', { 'clientId': client.clientId }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('clients_new') }}">Create a new client</a>
        </li>
    </ul>
{% endblock %}
