{% extends 'base.html.twig' %}

{% block body %}
    <h1>Client</h1>

    <table>
        <tbody>
            <tr>
                <th>Clientid</th>
                <td>{{ client.clientId }}</td>
            </tr>
            <tr>
                <th>Clientname</th>
                <td>{{ client.clientName }}</td>
            </tr>
            <tr>
                <th>Clientfirstname</th>
                <td>{{ client.clientFirstname }}</td>
            </tr>
            <tr>
                <th>Clientphone</th>
                <td>{{ client.clientPhone }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('clients_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('clients_edit', { 'clientId': client.clientId }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
