{% extends 'base.html.twig' %}

{% block body %}
    <h1>Billings list</h1>

    <table>
        <thead>
            <tr>
                <th>Billingid</th>
                <th>Userid</th>
                <th>Billingadress</th>
                <th>Billingzipcode</th>
                <th>Billingcity</th>
                <th>Billingcountry</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for billing in billings %}
            <tr>
                <td><a href="{{ path('billing_show', { 'billingId': billing.billingId }) }}">{{ billing.billingId }}</a></td>
                <td>{{ billing.userId }}</td>
                <td>{{ billing.billingAdress }}</td>
                <td>{{ billing.billingZipCode }}</td>
                <td>{{ billing.billingCity }}</td>
                <td>{{ billing.billingCountry }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('billing_show', { 'billingId': billing.billingId }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
